/* Reseteo de márgenes y rellenos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Aseguramos que html y body ocupen toda la altura de la pantalla */
html,
body {
  height: 100%;
  width: 100%;
}
